.navigation {
  
  &__list {
    display: flex;
    list-style: none;
  }

  &__link {
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
    padding: 10px 20px;
  }

  &__item {
    // display: inline-block;
  }
}
