.nav {
  &__list {
    display: flex;
    list-style: none;
  }

  &__link {
    color: white;
    cursor: pointer;
    display: block;
    position: relative;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
    padding: 10px 20px;

    &::after {
      display: block;
      position: absolute;
      bottom: 2px;
      left: 10px;
      width: 0;
      height: 1px;
      background-color: $white-color;
      content: "";
      transition: width 0.3s ease-out;
    }

    &:hover::after {
      width: calc(100% - 2 * #{10px});
    }
  }

  &__item {
    // display: inline-block;
  }

  &__open-menu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
  }

  &__close-menu {
    font-size: 2rem;
    display: none;
    cursor: pointer;
  }
}

@media screen and (max-width: 1024px) {
  .nav {
    &__list {
      height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 10;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #000;
      transition: top 1s ease;
      display: none;
    }

    &__close-menu {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
    }

    &__open-menu {
      display: block;
    }

    &__link {
      color: $white-color;
      font-size: 1.6rem;
    }

    &__fa {
      display: inline-block;
      padding: 12px;
    }
  }
}

.fa {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
