// COLORS
$main-color: #00a031;
$text-color: #6c6c6c;
$white-color: #fff;
$button-text: #f4fbf6;
$footer-text-color: #777;
$footer-background: #222;

// screens
$design-screen-breakpoint: 1600px;
$standart-screen-breakpoint: 1200px;
$analog-screen-breakpoint: 1024px;
$normal-screen-breakpoint: 1000px;
$ipad-mini-screen-breakpoint: 768px;
$mobile-screen-breakpoint: 360px;
$iphone-se-screen-breakpoint: 320px;
